page-estabelecimento-details {

    #imgCardapioEst{
     position: center;
    padding: 15px 15px 0;
  background-color: white;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  width: 200px;
}

.scrollbar {
    background-color: #F5F5F5;
    float: left;
    height: 60%;
    width: 100%;
       overflow-y: scroll;
}


}
